Local/Tarsproxy/.idea/.gitignore
Local/Tarsproxy/.idea/misc.xml
Local/Tarsproxy/.idea/modules.xml
Local/Tarsproxy/.idea/Tarsproxy.iml
Tars/Tarsproxy/.idea/.gitignore
Tars/Tarsproxy/.idea/misc.xml
Tars/Tarsproxy/.idea/modules.xml
Tars/Tarsproxy/.idea/Tarsproxy.iml
Local/Tarsproxy/.idea/vcs.xml
Tars/Tarsproxy/.idea/vcs.xml
/Local/Tarsproxy/bin
/Local/Tarsproxy/ConfigObj
/Local/Tarsproxy/client/client.exe
Local/Tarsproxy/.idea/workspace.xml
